/* shared styles */
/* 
{
    background-image: url(../assets/bg.png);
} */


@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');


.quicksand-normal{
  font-family: "Quicksand", serif;
  font-weight: 400px;
  font-style: normal;
}



/* header styles */

.menu{
    max-width: 50px;
    height: 15px;
    display: none;

}

nav ul li {
    
    list-style: none;
    display: inline;
   
    margin: 0px 25px;
   

}

nav li a{
    text-decoration: none;
}

.nav-bar{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    /* margin: 20px 110px; */
}

.logo-item{
    display:flex;
    padding-right: 150px;
    width: 176px;
    
    
    
}

.logo{
    height: 50px;
    max-width: 50px;
    
    
}



.school{
    font-size: 2rem;
    font-weight: 700px;
    color: rgb(17, 17, 17);
    margin: 0 5px;
    padding: 10px;
    
}


.nav-home{
    color: rgb(254, 163, 1);
    font-size: 1.25rem;
    font-weight: 700px;
    padding: 0px;
    gap: 25px;
}

.nav-about{
    color: rgb(1, 172, 253);
    font-size: 1.25rem;
    font-weight: 500px;
    padding: 0px;
    gap: 25px;
}

.nav-facilities{
    color: rgb(5, 212, 223);
    font-size: 1.25rem;
    font-weight: 500px;
    padding: 0px;
    gap: 25px;
}

.nav-admission{
    color: rgb(93, 88, 239);
    font-size: 1.25rem;
    font-weight: 500px;
    padding: 0px;
    gap: 25px;
}

.logo-button{
    border: none;
    border-radius: 12px;
    background-color: rgb(254, 163, 1) ;
    width: 157px;
    padding: 10px;
    margin-left: 150px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  
}

.button-text{
    color: rgb(255, 255, 255);
    font-size: 1.25rem;
    font-weight: 600;
    margin: 0px 10px;

}

#hr{
    color: rgb(254, 163, 1);
    border: 0.5px solid;
    display: none;

}



/* banner section */

.Empowering{
    max-width: 100%;
    height: 575px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 50px;
    padding: 30px 0px;
    
    
}


.empowering-box{
    
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 20px;
    padding-right: 200px;
    

}


.empowering-heading{
    font-size: 3.5rem;
    font-weight: 700px;
    margin-top: 97px;
    margin-bottom: 24px;
}

.heading-1{
    color: rgb(254, 163, 1);
}

.heading-2{
    color: rgb(1, 172, 253);
}

.empowering-description{
    font-size: 1.25rem;
    font-weight: 400px;
    
}

.enroll{
    width: 160px;
    height: 50px;
    border-radius: 12px;
    background-color:Black ;
}

.hero-kids{
max-width: 100%;      
}


/* curriculum section */

.curriculum{
    background-image: url(../assets/bg.png);
    max-width: 1440px;
    height: 879px;
}

.curriculum-box{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    align-items: center;
    gap: 80;
    padding: 60px;
}

.standard{
    font-size: 2.87rem;
    font-weight: 700px;
    /* padding: 80px 0px; */
    /* margin:80px 0px; */
    margin: 0px auto;
}

.card-container{
    max-width: 100%;
    height: 481px;
    padding-top: 80px;
    margin: 0px auto;
    display: flex;
    gap: 30px;

}

.card-1{
    box-sizing: border-box;
    border: 0.94px solid rgb(222, 245, 255);
    border-radius: 18.86px;

    box-shadow: inset 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
    background: linear-gradient(180.00deg, rgb(222, 245, 255),rgba(255, 255, 255, 0) 40%),rgb(255, 255, 255);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.card-2{
    box-sizing: border-box;
    border: 0.94px solid rgb(255, 244, 220);
    border-radius: 18.86px;

    box-shadow: inset 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
    background: linear-gradient(180.00deg, rgb(255, 244, 220),rgba(255, 255, 255, 0) 40%),rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.card-3{
    box-sizing: border-box;
    border: 0.94px solid rgb(242, 232, 255);
    border-radius: 18.86px;

    box-shadow: inset 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
    background: linear-gradient(180.00deg, rgb(238, 225, 255),rgba(255, 255, 255, 0) 40%),rgb(255, 255, 255);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.card-title{
    font-size: 1.5rem ;
    font-weight: 700;
    padding: 0px 70px;
}

.card-description{
    font-family: Raleway;
    font-size: 0.94rem;
    font-weight: 500px;
    color:rgb(128, 128, 128) ;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px 40px ;
}

.card-text1{
    font-size: 0.94rem;
    font-weight: 700px;
    color: rgb(100, 200, 255);
    
}
    
.card-text2{
    font-size: 0.94rem;
    font-weight: 700px;
    color: rgb(240, 170, 0);

}
    
.card-text3{
    font-size: 0.94rem;
    font-weight: 700px;
    color: rgb(135, 0, 255);

}
    



/* responsive section */

@media screen and (max-width:576px) {
    /* header section */
    
    .menu{
        display: block;
        margin: 0px 80px;
    }

    .logo{
        margin: 0px 30px;
    }

    #hr{
        display: block;
    }

    .school{
        display: none;
    }

    .nav-item{
        display: none;
    }

    .logo-button{
        display: none;
    }

    .Empowering{
       flex-direction: column;
       
    }

    .empowering-heading{
        font-size: 2rem;
        justify-content: center;
        align-items:center;
        text-align: center;
         margin: 0px auto;
    }

    .empowering-description{
        font-size: 0.87rem;
        font-weight: 700px;
       
    }

    .button-text{
        font-size: 1rem;
        font-weight: 700px;
    }

    .enroll{
        
        height: 38px;
        
        
    }

    .empowering-box{
        max-width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items:center;
        text-align: center;
         margin: 0px auto;
         padding: 0px;
       

      
    }

    .Empowering{
        flex-direction: column-reverse;
    }

    
}

